/*Base styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-font-size: 1.6rem;
  --body-font-color: #5f5f5f;
  --body-font-family: "Poppins", sans-serif;
  --heading-font-family: "Poppins", sans-serif;
  --light-color: #f4f4f4;
  --dark-color: #2f2f2f;
  --darker-color: #262626;
  --light-gray-color: #f2f3f7;
  --gray-color: #dbdbdc;
  --red-color: #ec5453;
  --blue-color: #2c98f0;
  --yellow-color: #f9bf3f;
  --purple-color: #a84cb8;
  --dark-blue-color: #4054b2;
  --green-color: #33cc33;
  --pink-color: #cc3399;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font-family);
  color: var(--body-font-color);
  font-size: var(--body-font-size);
  font-weight: 500;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  display: block;
  text-decoration: none;
}

/* Navigation styles */
.hamburger-menu {
  display: none;
}

.nav {
  width: 26rem;
  height: 100vh;
  background-color: var(--dark-color);
  color: var(--light-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.intro {
  font-family: var(--heading-font-family);
  text-align: center;
  margin: 5rem 0;
  line-height: 1.5;
}

.intro-heading {
  font-size: 3.5rem;
  letter-spacing: 2px;
  font-weight: 300;
}

.intro-subhead {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.nav-list {
  list-style: none;
}

.nav-item {
  position: relative;
}

.nav-item::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.nav-item:hover::before {
  transform: scaleX(1);
}

.nav-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.nav-link {
  font-size: 2.25rem;
  letter-spacing: 1px;
  color: var(--light-color);
  padding: 1rem;
}

.social-media-wrapper {
  margin-top: auto;
  margin-bottom: 1rem;
  text-align: center;
}

.social-media-wrapper span {
  display: block;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.sm-link {
  font-size: 3.6rem;
  color: var(--light-color);
  transition: color 0.5s, transform 0.5s;
}

.sm-link:hover {
  color: #999;
  transform: translateY(-3px);
}

.sm-link:nth-child(2) {
  margin: 0 2rem;
}

/* Main styles */
.main {
  width: calc(100% - 26rem);
  transform: translateX(26rem);
  background-color: var(--darker-color);
}

section:not(.hero) {
  padding: 3rem 0;
}

.my-image {
  width: auto;
  height: 70%;
}

/* Hero styles */
.hero {
  height: 100vh;
  background: url("./images/hero_background.jpg") bottom center/cover;
  position: relative;
  display: flex;
  justify-content: center;
}

.name-heading {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 15vw;
  font-family: var(--heading-font-family);
  color: var(--darker-color);
  z-index: 1;
  user-select: none;
}

.my-image {
  max-width: 95%;
  user-select: none;
  -webkit-user-drag: none;
  margin-top: auto;
  position: relative;
  z-index: 2;
}

.scroll-down {
  position: absolute;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

.mouse {
  height: 5rem;
  width: 2.5rem;
  border: 2px solid var(--light-color);
  border-radius: 2rem;
  display: flex;
}

.mouse span {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--light-color);
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}

.arrow span {
  display: block;
  width: 1rem;
  height: 1rem;
  border-right: 2px solid var(--light-color);
  border-bottom: 2px solid var(--light-color);
  transform: rotate(45deg);
  animation: arrow-down 1s linear infinite;
}

@keyframes move-wheel {
  0% {
    opacity: 1;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 0;
    transform: translateY(2rem);
  }
}

@keyframes arrow-down {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/* About styles */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.heading-group {
  color: var(--dark-color);
  margin-bottom: 3rem;
}

.section-head-small {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  color: #999;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.section-head-large {
  font-size: 3.5rem;
  font-family: var(--heading-font-family);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  font-weight: 700;
  color: var(--light-color);
}

.flexbox-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.flexbox-item {
  /* min-width: 50vw; */
  height: 220px;
  /* margin: 10px 0; */
  margin-bottom: 40px;
  border: 3px solid #333;
  /* background-color: #dfdfdf; */
  font-size: 22px;
  color: var(--dark-color);
}

.flexbox-item-1 {
  flex-shrink: 0;
  flex-grow: 1;
  padding-left: 10px;
}

.flexbox-item-1 h4 {
  font-weight: 300;
}

.flexbox-item-1 a {
  color: var(--dark-color);
}

.flexbox-item-2 {
  flex-shrink: 0;
  flex-grow: 1;
  padding-left: 10px;
}

.flexbox-item-2 h4 {
  font-weight: 300;
}

.flexbox-item-2 a {
  color: var(--dark-color);
}

.flexbox-item-3 {
  flex-grow: 1;
}

.flexbox-item article h4:not(:last-child) {
  padding-bottom: 50px;
}

.education-info {
  text-align: center;
  padding: 30px;
}

.timeline {
  position: relative;
}

.timeline::before,
.timeline::after,
.timeline-item::before,
.timeline-item::after {
  content: "";
  position: absolute;
}

.timeline::before {
  width: 0.5rem;
  height: 100%;
  background-color: var(--light-color);
  border-radius: 1rem;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.timeline::after {
  width: 2rem;
  height: 2rem;
  border: 0.5rem solid var(--light-color);
  border-radius: 50%;
  bottom: -2.5rem;
  left: -1.2rem;
}

.timeline-item {
  background-color: var(--light-color);
  padding: 2.2rem;
  margin-left: 3.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.timeline-item::before {
  top: 0.5rem;
  left: -2rem;
  border: 1rem solid transparent;
  border-right-color: var(--gray-color);
}

.timeline-item::after {
  width: 3rem;
  height: 3rem;
  background-color: var(--gray-color);
  border-radius: 50%;
  top: -0.3px;
  left: -4.7rem;
}

/* .timeline-heading {
  flex-direction: row;
} */

.timeline-entry-name {
  display: inline-block;
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--dark-color);
  /* text-transform: uppercase; */
}

.intro-description {
  font-size: 2.4rem;
  color: var(--light-color);
}

.intro-description p span {
  font-weight: bold;
  color: var(--light-color);
  letter-spacing: 1px;
}

.intro-description p:first-child {
  padding-bottom: 20px;
}

.call-to-action {
  background-color: var(--yellow-color);
  margin-top: 5rem;
  padding: 3rem;
  color: var(--dark-color);
}

.call-to-action p {
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.btn {
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 1rem 3rem;
  display: inline-block;
  transition: background-color 0.5s;
}

.cta-btn {
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

.cta-btn:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
}

/* My expertise */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2.5rem;
}

.my-expertise .grid-item {
  background-color: #fff;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-bottom: 3px solid transparent;
  position: relative;
}

.grid-item.dark {
  border-bottom-color: var(--dark-color);
  background-color: var(--darker-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item.blue {
  border-bottom-color: var(--blue-color);
  background-color: var(--dark-color);
}

.grid-item.purple {
  border-bottom-color: var(--purple-color);
  background-color: var(--dark-color);
}

.item-icon {
  display: block;
  font-size: 3.6rem;
  margin-bottom: 1rem;
}

.item-heading {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.margin-top {
  margin-top: 5rem;
}

.item-skill {
  width: calc(100% + 1rem);
  height: 5rem;
  position: absolute;
  top: 1rem;
  left: -1rem;
  display: flex;
}

.item-skill::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;
  border: 1rem solid transparent;
  z-index: -1;
}

.dark .item-skill {
  background-color: var(--dark-color);
}

.dark .item-skill::before {
  border-right-color: var(--dark-color);
}

.orange .item-skill {
  background-color: var(--orange-color);
}

.orange .item-skill::before {
  border-right-color: var(--orange-color);
}

.blue .item-skill {
  background-color: var(--blue-color);
}

.blue .item-skill::before {
  border-right-color: var(--blue-color);
}

.yellow .item-skill {
  background-color: var(--yellow-color);
}

.yellow .item-skill::before {
  border-right-color: var(--yellow-color);
}

.purple .item-skill {
  background-color: var(--purple-color);
}

.purple .item-skill::before {
  border-right-color: var(--purple-color);
}

.green .item-skill {
  background-color: var(--green-color);
}

.green .item-skill::before {
  border-right-color: var(--green-color);
}

.pink .item-skill {
  background-color: var(--pink-color);
}

.pink .item-skill::before {
  border-right-color: var(--pink-color);
}

.skill-name {
  font-size: 1.5rem;
  color: var(--light-color);
  font-weight: 400;
  letter-spacing: 1px;
  margin: auto;
  text-align: center;
}

.skill-description {
  font-size: 10rem;
  padding-top: 6rem;
}

.skill-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 75px;
  -webkit-user-drag: none;
}

/* Motto styles */
.motto {
  height: 35vh;
  background: url("./images/sf.jpg") bottom/cover;
  position: relative;
  z-index: 1;
}

.motto::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.motto .container {
  height: 100%;
  display: flex;
}

.quote-wrapper {
  margin: auto;
  max-width: 50rem;
  text-align: center;
  color: var(--light-color);
}

.quote {
  font-size: 2rem;
  font-weight: 300;
  padding: 0.5rem;
  position: relative;
}

.quote::before,
.quote::after {
  position: absolute;
  font-size: 15rem;
  width: 5rem;
  height: 5rem;
  font-family: sans-serif;
}

.quote::before {
  content: open-quote;
  top: -5rem;
  left: -6rem;
}

.quote::after {
  content: close-quote;
  bottom: -5rem;
  right: -6rem;
}

.quote-by {
  display: block;
  text-align: right;
  margin-top: 2rem;
}

/* My portfolio */
.my-portfolio .grid {
  grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
}

.my-portfolio .grid-item {
  height: 30rem;
  position: relative;
  overflow: hidden;
  display: flex;
}

.portfolio-item-image {
  height: 30rem;
  width: 30rem;
  object-fit: cover;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 75px;
  justify-content: center;
  align-items: center;
}

.portfolio-item-info {
  width: 100%;
  height: 100%;
  background-color: var(--dark-color);
  color: var(--light-color);
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s;
}

.portfolio-item-info:hover {
  opacity: 1;
}

.project-name {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 0.7rem;
  transform: translateY(-2rem);
  transition: transform 0.5s;
}

.project-name span {
  font-weight: 300;
  opacity: 0.5;
}

.project-type {
  font-size: 1.3rem;
  opacity: 0.5;
  transform: translateY(2rem);
  transition: transform 0.5s;
}

.portfolio-item-info:hover .project-name,
.portfolio-item-info:hover .project-type {
  transform: translateY(0);
}

.info-cta {
  margin-top: auto;
}

.info-cta a:first-child {
  margin-right: 5px;
}

.info-btn {
  color: var(--light-color);
  border: 1px solid var(--light-color);
}

.info-btn:hover {
  color: var(--dark-color);
  background-color: rgba(255, 255, 255, 1);
  border-color: transparent;
}

.btn-blue {
  background-color: var(--blue-color);
  color: var(--light-color);
}

.btn-blue:hover {
  background-color: #2977b1;
}

.load-more .btn {
  margin-top: 2.5rem;
  padding: 1rem 5rem;
}

.contact-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.info-item-icon {
  background-color: var(--light-gray-color);
  display: flex;
  width: 70px;
  height: 70px;
  font-size: 5rem;
  color: var(--dark-color);
  border-radius: 3px;
}

.info-item-icon i {
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-48%);
}

.data-wrapper {
  margin-left: 1rem;
}

.info-item-data {
  display: block;
  font-size: 2rem;
  line-height: 1.5;
}

.info-item-data a {
  color: var(--light-color);
}

.contact-flexbox-container {
  display: flex;
  flex-wrap: wrap;
}

.contact-flexbox-item {
  font-size: 22px;
}

.contact-flexbox-item-1 {
  flex-shrink: 0;
  flex-grow: 1;
  padding-left: 10px;
}

.contact-flexbox-item-2 {
  flex-shrink: 0;
  flex-grow: 1;
  padding-left: 10px;
}

.contact-flexbox-item-3 {
  flex-shrink: 0;
  flex-grow: 1;
  padding-left: 10px;
}

.contact-flexbox-item-4 {
  flex-shrink: 0;
  flex-grow: 1;
  padding-left: 10px;
}

/* Video pop up */
#headerPopup {
  width: 75%;
  margin: 0 auto;
}

#headerPopup-2 {
  width: 75%;
  margin: 0 auto;
}

#headerPopup-3 {
  width: 75%;
  margin: 0 auto;
}

#headerPopup-4 {
  width: 75%;
  margin: 0 auto;
}

#headerPopup iframe {
  width: 100%;
  margin: 0 auto;
}

#headerPopup-2 iframe {
  width: 100%;
  margin: 0 auto;
}

#headerPopup-3 iframe {
  width: 100%;
  margin: 0 auto;
}

#headerPopup-4 iframe {
  width: 100%;
  margin: 0 auto;
}

/* Media queries */
@media screen and (max-width: 1030px) {
  .nav {
    transform: translateX(-27rem);
    transition: transform 0.5s;
  }

  .is-open .nav {
    transform: translateX(0);
  }

  .hamburger-menu {
    display: flex;
    width: 5rem;
    height: 5rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    position: fixed;
    top: 0;
    left: 0;
    font-size: 2.6rem;
    cursor: pointer;
    transition: transform 0.5s;
    z-index: 2000;
  }

  .hamburger-menu i {
    margin: auto;
  }

  .close {
    display: none;
  }

  .is-open .hamburger-menu {
    transform: translateX(21rem);
  }

  .is-open .close {
    display: block;
  }

  .is-open .open {
    display: none;
  }

  .main {
    width: 100%;
    transform: initial;
  }

  .hero {
    height: 80vh;
  }

  .hero::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
  }

  .is-open .hero::after {
    opacity: 1;
    transform: scale(1);
  }

  .name-heading {
    font-size: 20vw;
  }

  .portfolio-item-info {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }

  .project-name {
    transform: translateY(0);
  }

  .project-type {
    transform: translateY(0);
  }

  .info-btn:first-child {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .grid,
  .my-portfolio .grid {
    grid-template-columns: repeat(autofit, minimax(25rem, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .hero {
    height: 50rem;
  }

  .call-to-action p {
    font-size: 2rem;
  }

  .motto {
    height: 60vh;
  }

  .quote::before,
  .quote::after {
    font-size: 10rem;
  }

  .quote::before {
    top: -4rem;
    left: -3rem;
  }

  .quote::after {
    bottom: -3rem;
    right: -3rem;
  }

  .quote-by {
    margin-top: 4rem;
  }

  .timeline-entry-name {
    display: block;
    font-size: 1.6rem;
  }

  .timeline-heading span {
    font-size: 1.4rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
  .nav {
    overflow-y: scroll;
  }

  .hero {
    height: initial;
    min-height: 100vh;
  }
}

@media screen and (min-width: 1925px) {
  html {
    font-size: 75%;
  }
}

.tabContainer {
  width: 100%;
  height: fit-content;
  padding-bottom: 6rem;
}
.tabContainer .buttonContainer {
  height: 15%;
}
.tabContainer .buttonContainer button {
  width: 50%;
  height: 100%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-family: var(--body-font-family);
  font-size: 18px;
  background-color: #262626;
  color: var(--light-color);
  transition: background-color 0.5s;
}
.tabContainer .buttonContainer button:hover {
  background-color: var(--light-color);
  color: #262626;
}
.tabContainer .tabPanel {
  height: fit-content;
  background-color: gray;
  color: var(--light-color);
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: var(--body-font-family);
  font-size: 18px;
  display: none;
  text-align: left;
  padding-left: 25px;
  padding-top: 70px;
  padding-bottom: 20px;
  padding-right: 25px;
}

.tabContainer .tabPanel ul {
  padding-left: 30px;
}

.brsmall {
  display: block;
  margin-bottom: 0.5em;
}

.brmedium {
  display: block;
  margin-bottom: 1em;
}

.brlarge {
  display: block;
  margin-bottom: 2em;
}
